@{ 
    var AdministrationUrl = @HttpContext.Current.Request.Url + "umbraco";
    var AdministrationUrl2 = @HttpContext.Current.Request.Url + "umbraco";
 }



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon-16x16.png" type="image/png">
    <title>TryTinifier Sandbox | Backend Devs</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom bootstrap styles -->
    <link href="css/overwrite.css" rel="stylesheet">
    <!-- Font -->
    <link href="fonts/open-sans/stylesheet.css" rel="stylesheet">

    <!-- Font icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="fonts/pe-icon-7-stroke/css/helper.css" rel="stylesheet">

    <!-- Animate css -->
    <link href="css/animate.css" rel="stylesheet">

    <!-- prettyPhoto -->
    <link href="css/prettyPhoto.css" rel="stylesheet" />

    <!-- flexslider -->
    <link href="css/flexslider.css" rel="stylesheet">
    <!-- Owl carousel -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Theme skin -->
    <link href="skins/default.css" rel="stylesheet" />
</head>
<body>
    <!-- Start preloading -->
    <div id="loading" class="loading-invisible">
        <i class="pe-7s-refresh pe-spin pe-3x pe-va"></i><br />
        <p>Please wait...</p>
    </div>
    <!-- End preloading -->
    <!-- Start header -->
    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="img/tinifier_2-01.svg" alt="tinifier_2-01svg" width="250" height="50" >
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="GoToHome" href="#home" class="selected">Home</a></li>
                        <li><a href="https://tinifier.backend-devs.com">About</a></li>
                        <li><a href="https://backend-devs.com/case-studies/">Case Study</a></li>
                        <li><a href="https://our.umbraco.org/projects/backoffice-extensions/tinifier/">Umbraco Forum</a></li>
                    </ul>
                    <div class="navbar-right">
                        <a style="text-transform: none;" rel="noopener" href="https://github.com/dimonser147/UmbracoTinifier" target="_blank" class="btn btn-bordered">&nbsp;GitHub</a>
                        <a href="http://eepurl.com/dbcmof" class="btn btn-primary">Subscribe</a>
                    </div>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </header>
    <!-- End header -->
    <!-- End home -->
    <section id="home" class="home-wrapper">
        <div class="video-background">
            <!-- Start video background -->
            <a id="bgndVideo" class="player" data-property="{videoURL:'e8DFN3m8XGQ',containment:'.video-background', showControls:false, autoPlay:true, loop:false, mute:true, startAt:10, opacity:1, addRaster:false, quality:'default'}">My video</a>
            <!-- End video background -->
            <div class="container">
                <div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>Try Tinifier package now! 
                        <span>Username: 
                            <b style="color:#f55d26">tinifierDemo </b>
                        </span>
                        <span>
                            Password:
                            <b style="color:#f55d26">Demo123456 </b>
                        </span>
                        </h3>
                        <p class="btn-inline">
                            <a href="@AdministrationUrl" class="btn btn-bordered btn-lg">Open Back-office</a>
                            <a target="_blank" href="https://our.umbraco.org/projects/backoffice-extensions/tinifier/" class="btn btn-primary btn-lg">Download for free
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                            </a>
                        </p>
                        <div class="home-slider">
                            <div class="slider-wrapper">
                                <div class="imac-device">
                                    <ul class="slides">
                                        <li>
                                            <div class="video-container">
                                                <iframe width="640" height="360" src="//www.youtube.com/embed/l_8_EcBKwhg" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <img src="img/imac.png" class="img-responsive" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End home -->

    <div class="clearfix"></div>
    <!-- Start features copy-->
    <section id="features" class="contain desc-wrapp gray-bg">
        </section>

    <!-- Start footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Umbraco version 7.11.0</p>
                    <p>Tinifier version 1.4.3</p>
                    <p>2017 © Powered By <a href="//backend-devs.com/">Backend Devs</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-easing-1.3.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        document.getElementById("loading").className = "loading-visible";
        var hideDiv = function () { document.getElementById("loading").className = "loading-invisible"; };
        var oldLoad = window.onload;
        var newLoad = oldLoad ? function () { hideDiv.call(this); oldLoad.call(this); } : hideDiv;
        window.onload = newLoad;
    </script>
    <!-- End preloading -->
    <!-- Fixed navigation -->
    <script src="js/navigation/waypoints.min.js"></script>
    <script src="js/navigation/jquery.smooth-scroll.js"></script>
    <script src="js/navigation/navbar.js"></script>
    <!-- JavaScript video background -->
    <script src="js/yt-player/jquery.mb.YTPlayer.js"></script>
    <script src="js/yt-player/setting.js"></script>

    <!-- Wow -->
    <script src="js/wow/wow.min.js"></script>
    <script src="js/wow/setting.js"></script>

    <!-- Parallax -->
    <script src="js/parallax/jquery.parallax-1.1.3.js"></script>
    <script src="js/parallax/setting.js"></script>

    <!-- flexslider -->
    <script src="js/flexslider/jquery.flexslider.js"></script>
    <script src="js/flexslider/setting.js"></script>
    <!-- prettyPhoto -->
    <script src="js/prettyPhoto/jquery.prettyPhoto.js"></script>
    <script src="js/prettyPhoto/setting.js"></script>

    <!-- counters -->
    <script src="js/counters/jquery.appear.js"></script>
    <script src="js/counters/stellar.js"></script>
    <script src="js/counters/setting.js"></script>
    <!-- Owl carousel -->
    <script src="js/owlcarousel/owl.carousel.js"></script>
    <script src="js/owlcarousel/setting.js"></script>

    <!-- Totop -->
    <script src="js/totop/jquery.ui.totop.js"></script>
    <script src="js/totop/setting.js"></script>
    <!-- youtube player -->
    <script src="js/youtube-player/jquery.swfobject.1-1-1.min.js"></script>
    <script src="js/youtube-player/youTubeEmbed-jquery.js"></script>
    <script src="js/youtube-player/setting.js"></script>

    <!-- Contact validation -->
    <script src="js/validation.js"></script>

    <!-- Customn javascript -->
    <script src="js/custom.js"></script>
</body>
</html>
